// reports 
report {
    enabled = true
    file = "report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html" 
    overwrite = true
}

trace {
    enabled = true
    file = "trace.txt"
    overwrite = true
}

// params
params {
    length = 100 
    outdir="/nfs/users/nfs_b/be5/scratch/testing_nextflow"
    transcripts = "/nfs/users/nfs_b/be5/scratch/main/testing_zone/direct_search_long_reads/extracted100_nrLitMari2_T.fa"
    k = 21
    lower_cov_thrsld_counting = 150 
    lower_cov_thrsld_extracting = 150
    max_distance = 3
    extra_border = 0
    size_limit_max = 30
    size_limit_min = 20
    entropy_lim = 1.40
    nucleotide_limit = 0.7
    identity_thrsld = 0.90
    heatmap = false 
    kmerplot = false 
    kmer_counting_tool = "fastk"



    s = 10000
    t = 10
    plot_name_end = "Plot name"
    plot_name_start = "Plot name"
    lc = 15
    up = 100000000
}


// This option is unscoped
poolSize = 4

process {
    cpus   = 1
    memory = 6.Gb
    time   = 1.h

    withName: 'CLUSTERING_PUTATIVE_SLS' {
        cpus   = 4
        memory = 8.Gb
    }
}

profiles {
    lsf {
        process {
            executor = 'lsf'
            clusterOptions = '-G team301'

            queue = {
                if (task.time >= 15.day) {
                    if (task.memory > 680.GB) {
                        error "There is no queue for jobs that need >680 GB and >15 days"
                    } else {
                        "basement"
                    }
                } else if (task.memory > 720.GB) {
                    "teramem"
                } else if (task.memory > 350.GB) {
                    "hugemem"
                } else if (task.time > 7.day) {
                    "basement"
                } else if (task.time > 2.day) {
                    "week"
                } else if (task.time > 12.hour) {
                    "long"
                } else if (task.time > 1.min) {
                    "normal"
                } else {
                    "small"
                }
            }
        }

        executor {
            name = 'lsf'
            perJobMemLimit = true
            submitRateLimit = '5 sec'
            killBatchSize = 50
        }
    }

    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        
        process.container       = 'container/slseek.sif' 
    }

    standard {
        process.executor = 'local'
    }

}